html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
}

#scene_type, input, textarea {
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
}

#background {
  height: 80%;
}

#scenes {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 80%;
}

#story, #positive, #negative, #text, .act {
  box-sizing: border-box;
}

.act {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 25%;
}

.act2 {
  width: 50%;
}

.act + .act {
  border-left: 1px solid lightgrey;
}

#negative .act2::after,
#positive .act1::before ,
#positive .act2::before ,
#positive .act::after {
  color: lightgrey;
  position: absolute;
  display: block;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#positive .act::after {
  content: attr(data-bg-text);
  font-size: 4vw;
  bottom: 10%;
  left: 10%;
}

#positive .act1::before {
  content: attr(data-y-axis);
  font-size: 1vw;
  bottom: 25%;
  right: -8%;
  transform: rotate(-90deg);
}

#positive .act2::before {
  content: attr(data-x-axis);
  font-size: 1vw;
  bottom: 2%;
  left: 2%;
  user-select: none;
}

#negative .act2::after {
  content: attr(data-scene-count);
  font-size: 1vw;
  bottom: 2%;
  left: 2%;
  user-select: none;
}

#positive, #negative {
  height:  50% ;
  min-width: 100%;
  border-bottom: 1px solid black;
  display: table;
}

#text {
  height: 20% ;
}

.scene {
  width:60px;
  height:40px;
  border: 1px solid grey;
  background-color: white;
  background-image: url(../img/arrow.svg);
  fill: red;
}

.scene svg {
  fill: grey;
  margin-top: -8px;
}

#canv{
  position: absolute;
  left: 0;
  top: 0;
}

.containment {
  position: absolute;
  height: 80%;
  top: 0;
}

#containment_act1 {
  left: 0;
  width: 25%;
}

#containment_act3 {
  right: 0;
  width: 25%;
}

#containment_pp1,
#containment_pp2,
#containment_cp {
  width:66px;
}

table {
  width: 100%;
}
td {
  width:50%;
}

#reconstruct {
  display: block;
  margin-left: 20px;
}

.active {
  border-width: 3px;
}

.label {
  display: inline-block;
  position:absolute;
  top: 48px;
  left: 0;
  color: grey;
    text-shadow:
   -1px -1px 0 #FFFFFF,  
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
     1px 1px 0 #FFFFFF;
}
